@import './variables';

.form-control {
  border: none;
  border-bottom: 2px solid $grey;
  border-radius: 0;
}

.form-control:focus {
  outline: none;
  box-shadow: none;
  border-bottom-color: $primary-color;
}